<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mall.finance.mapper.WithdrawRecordMapper">

    <resultMap type="com.ruoyi.mall.finance.domain.WithdrawRecord" id="WithdrawRecordResult">
        <result property="id" column="id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="merchantName" column="merchant_name"/>
        <result property="amount" column="amount"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankAccount" column="bank_account"/>
        <result property="accountName" column="account_name"/>
        <result property="status" column="status"/>
        <result property="auditTime" column="audit_time"/>
        <result property="payTime" column="pay_time"/>
        <result property="rejectReason" column="reject_reason"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectWithdrawRecordVo">
        select w.id, w.merchant_id, m.name as merchant_name, w.amount, w.bank_name, w.bank_account, w.account_name,
               w.status, w.audit_time, w.pay_time, w.reject_reason,
               w.create_time, w.update_time, w.remark
        from withdraw_record w
        LEFT JOIN merchant m ON w.merchant_id = m.id
    </sql>

    <select id="selectWithdrawRecordList" parameterType="com.ruoyi.mall.finance.domain.WithdrawRecord" resultMap="WithdrawRecordResult">
        <include refid="selectWithdrawRecordVo"/>
        <where>
            and w.del_flag = '0'
            <if test="merchantId != null">and w.merchant_id = #{merchantId}</if>
            <if test="merchantName != null and merchantName != ''">and m.name like concat('%', #{merchantName}, '%')</if>
            <if test="status != null">and w.status = #{status}</if>
            <if test="bankName != null and bankName != ''">and w.bank_name like concat('%', #{bankName}, '%')</if>
            <if test="accountName != null and accountName != ''">and w.account_name like concat('%', #{accountName}, '%')</if>
            <if test="params.beginTime != null">and w.create_time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null">and w.create_time &lt;= #{params.endTime}</if>
            <if test="params.dataScopeBiz != null and params.dataScopeBiz != ''">${params.dataScopeBiz}</if>
        </where>
        order by w.create_time desc
    </select>

    <select id="selectWithdrawRecordById" parameterType="Long" resultMap="WithdrawRecordResult">
        <include refid="selectWithdrawRecordVo"/>
        where w.id = #{id} AND w.del_flag = '0'
    </select>

    <select id="selectWithdrawRecordByMerchantId" parameterType="Long" resultMap="WithdrawRecordResult">
        <include refid="selectWithdrawRecordVo"/>
        where w.merchant_id = #{merchantId} AND w.del_flag = '0'
        order by w.create_time desc
    </select>

    <insert id="insertWithdrawRecord" parameterType="com.ruoyi.mall.finance.domain.WithdrawRecord" useGeneratedKeys="true" keyProperty="id">
        insert into withdraw_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">merchant_id,</if>
            <if test="amount != null">amount,</if>
            <if test="bankName != null">bank_name,</if>
            <if test="bankAccount != null">bank_account,</if>
            <if test="accountName != null">account_name,</if>
            <if test="status != null">status,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">#{merchantId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="bankAccount != null">#{bankAccount},</if>
            <if test="accountName != null">#{accountName},</if>
            <if test="status != null">#{status},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateWithdrawRecord" parameterType="com.ruoyi.mall.finance.domain.WithdrawRecord">
        update withdraw_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantId != null">merchant_id = #{merchantId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="bankAccount != null">bank_account = #{bankAccount},</if>
            <if test="accountName != null">account_name = #{accountName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteWithdrawRecordById" parameterType="Long">
        update withdraw_record set del_flag = '2' where id = #{id}
    </update>

    <update id="deleteWithdrawRecordByIds" parameterType="String">
        update withdraw_record set del_flag = '2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
