<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mall.finance.mapper.WithdrawRecordMapper">

    <resultMap type="com.ruoyi.mall.finance.domain.WithdrawRecord" id="WithdrawRecordResult">
        <result property="id" column="id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="amount" column="amount"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankAccount" column="bank_account"/>
        <result property="accountName" column="account_name"/>
        <result property="status" column="status"/>
        <result property="auditTime" column="audit_time"/>
        <result property="payTime" column="pay_time"/>
        <result property="rejectReason" column="reject_reason"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectWithdrawRecordVo">
        select id, merchant_id, amount, bank_name, bank_account, account_name,
               status, audit_time, pay_time, reject_reason,
               create_time, update_time, remark
        from withdraw_record
    </sql>

    <select id="selectWithdrawRecordList" parameterType="com.ruoyi.mall.finance.domain.WithdrawRecord" resultMap="WithdrawRecordResult">
        <include refid="selectWithdrawRecordVo"/>
        <where>
            <if test="merchantId != null">and merchant_id = #{merchantId}</if>
            <if test="status != null">and status = #{status}</if>
            <if test="bankName != null and bankName != ''">and bank_name like concat('%', #{bankName}, '%')</if>
            <if test="accountName != null and accountName != ''">and account_name like concat('%', #{accountName}, '%')</if>
            <if test="params.beginTime != null">and create_time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null">and create_time &lt;= #{params.endTime}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWithdrawRecordById" parameterType="Long" resultMap="WithdrawRecordResult">
        <include refid="selectWithdrawRecordVo"/>
        where id = #{id}
    </select>

    <select id="selectWithdrawRecordByMerchantId" parameterType="Long" resultMap="WithdrawRecordResult">
        <include refid="selectWithdrawRecordVo"/>
        where merchant_id = #{merchantId}
        order by create_time desc
    </select>

    <insert id="insertWithdrawRecord" parameterType="com.ruoyi.mall.finance.domain.WithdrawRecord" useGeneratedKeys="true" keyProperty="id">
        insert into withdraw_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">merchant_id,</if>
            <if test="amount != null">amount,</if>
            <if test="bankName != null">bank_name,</if>
            <if test="bankAccount != null">bank_account,</if>
            <if test="accountName != null">account_name,</if>
            <if test="status != null">status,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">#{merchantId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="bankAccount != null">#{bankAccount},</if>
            <if test="accountName != null">#{accountName},</if>
            <if test="status != null">#{status},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateWithdrawRecord" parameterType="com.ruoyi.mall.finance.domain.WithdrawRecord">
        update withdraw_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantId != null">merchant_id = #{merchantId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="bankAccount != null">bank_account = #{bankAccount},</if>
            <if test="accountName != null">account_name = #{accountName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWithdrawRecordById" parameterType="Long">
        delete from withdraw_record where id = #{id}
    </delete>

    <delete id="deleteWithdrawRecordByIds" parameterType="String">
        delete from withdraw_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
