<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mall.merchant.mapper.MerchantUserMapper">

    <resultMap type="com.ruoyi.mall.merchant.domain.MerchantUser" id="MerchantUserResult">
        <result property="id" column="id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="realName" column="real_name"/>
        <result property="phone" column="phone"/>
        <result property="role" column="role"/>
        <result property="status" column="status"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectMerchantUserVo">
        select mu.id, mu.merchant_id, mu.username, mu.password, mu.real_name, mu.phone, mu.role,
               mu.status, mu.last_login_time, mu.create_time, mu.update_time, mu.remark
        from merchant_user mu
        left join merchant m on m.id = mu.merchant_id and m.del_flag = '0'
    </sql>

    <select id="selectMerchantUserList" parameterType="com.ruoyi.mall.merchant.domain.MerchantUser" resultMap="MerchantUserResult">
        <include refid="selectMerchantUserVo"/>
        <where>
            and mu.del_flag = '0'
            <if test="merchantId != null">and mu.merchant_id = #{merchantId}</if>
            <if test="username != null and username != ''">and mu.username like concat('%', #{username}, '%')</if>
            <if test="realName != null and realName != ''">and mu.real_name like concat('%', #{realName}, '%')</if>
            <if test="phone != null and phone != ''">and mu.phone = #{phone}</if>
            <if test="role != null and role != ''">and mu.role = #{role}</if>
            <if test="status != null">and mu.status = #{status}</if>
            <if test="params.dataScopeBiz != null and params.dataScopeBiz != ''">${params.dataScopeBiz}</if>
        </where>
        order by mu.id desc
    </select>

    <select id="selectMerchantUserById" parameterType="Long" resultMap="MerchantUserResult">
        <include refid="selectMerchantUserVo"/>
        where mu.id = #{id} AND mu.del_flag = '0'
    </select>

    <select id="selectMerchantUserByUsername" parameterType="String" resultMap="MerchantUserResult">
        <include refid="selectMerchantUserVo"/>
        where mu.username = #{username} AND mu.del_flag = '0'
    </select>

    <select id="selectMerchantUserByMerchantId" parameterType="Long" resultMap="MerchantUserResult">
        <include refid="selectMerchantUserVo"/>
        where mu.merchant_id = #{merchantId} AND mu.del_flag = '0'
        order by mu.id asc
    </select>

    <insert id="insertMerchantUser" parameterType="com.ruoyi.mall.merchant.domain.MerchantUser" useGeneratedKeys="true" keyProperty="id">
        insert into merchant_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">merchant_id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="realName != null">real_name,</if>
            <if test="phone != null">phone,</if>
            <if test="role != null">role,</if>
            <if test="status != null">status,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">#{merchantId},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="realName != null">#{realName},</if>
            <if test="phone != null">#{phone},</if>
            <if test="role != null">#{role},</if>
            <if test="status != null">#{status},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMerchantUser" parameterType="com.ruoyi.mall.merchant.domain.MerchantUser">
        update merchant_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantId != null">merchant_id = #{merchantId},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="role != null">role = #{role},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteMerchantUserById" parameterType="Long">
        update merchant_user set del_flag = '2' where id = #{id}
    </update>

    <update id="deleteMerchantUserByIds" parameterType="String">
        update merchant_user set del_flag = '2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteMerchantUserByMerchantId" parameterType="Long">
        update merchant_user set del_flag = '2' where merchant_id = #{merchantId}
    </update>

    <update id="deleteMerchantUserByMerchantIds" parameterType="Long">
        update merchant_user set del_flag = '2' where merchant_id in
        <foreach item="merchantId" collection="array" open="(" separator="," close=")">
            #{merchantId}
        </foreach>
    </update>

</mapper>
