<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mall.merchant.mapper.MerchantMapper">

    <resultMap type="com.ruoyi.mall.merchant.domain.Merchant" id="MerchantResult">
        <result property="id" column="id"/>
        <result property="distributorId" column="distributor_id"/>
        <result property="distributorName" column="distributor_name"/>
        <result property="name" column="name"/>
        <result property="logo" column="logo"/>
        <result property="contact" column="contact"/>
        <result property="phone" column="phone"/>
        <result property="commissionRate" column="commission_rate"/>
        <result property="status" column="status"/>
        <result property="balance" column="balance"/>
        <result property="totalIncome" column="total_income"/>
        <result property="address" column="address"/>
        <result property="avatar" column="avatar"/>
        <result property="description" column="description"/>
        <result property="businessHours" column="business_hours"/>
        <result property="productCount" column="product_count"/>
        <result property="storeCount" column="store_count"/>
        <result property="cMiniAppId" column="c_mini_app_id"/>
        <result property="cMiniAppSecret" column="c_mini_app_secret"/>
        <result property="mMiniAppId" column="m_mini_app_id"/>
        <result property="mMiniAppSecret" column="m_mini_app_secret"/>
        <result property="wxPayMchId" column="wx_pay_mch_id"/>
        <result property="wxPayApiKey" column="wx_pay_api_key"/>
        <result property="receiverOpenid" column="receiver_openid"/>
        <result property="receiverType" column="receiver_type"/>
        <result property="mapClaimStatus" column="map_claim_status"/>
        <result property="mapPoiId" column="map_poi_id"/>
        <result property="mapClaimUrl" column="map_claim_url"/>
        <result property="mapClaimTime" column="map_claim_time"/>
        <result property="mapClaimRemark" column="map_claim_remark"/>
        <result property="wxApplymentId" column="wx_applyment_id"/>
        <result property="wxApplymentState" column="wx_applyment_state"/>
        <result property="wxApplymentRejectReason" column="wx_applyment_reject_reason"/>
        <result property="wxApplymentTime" column="wx_applyment_time"/>
        <result property="wxApplymentFinishTime" column="wx_applyment_finish_time"/>
        <result property="wxPaymentAccessType" column="wx_payment_access_type"/>
        <result property="merchantWxMchId" column="merchant_wx_mch_id"/>
        <result property="merchantWxMchName" column="merchant_wx_mch_name"/>
        <result property="wxProfitSharingEnabled" column="wx_profit_sharing_enabled"/>
        <result property="platformReceiverMchId" column="platform_receiver_mch_id"/>
        <result property="distributorReceiverMchId" column="distributor_receiver_mch_id"/>
        <result property="merchantShareRate" column="merchant_share_rate"/>
        <result property="platformShareRate" column="platform_share_rate"/>
        <result property="distributorShareRate" column="distributor_share_rate"/>
        <result property="settlementCycle" column="settlement_cycle"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectMerchantVo">
        select m.id, m.distributor_id, m.name, m.logo, m.contact, m.phone, m.commission_rate, m.status, m.balance,
               m.total_income, m.address, m.avatar, m.description, m.business_hours,
               m.product_count, m.store_count, m.c_mini_app_id, m.c_mini_app_secret,
               m.m_mini_app_id, m.m_mini_app_secret, m.wx_pay_mch_id, m.wx_pay_api_key,
               m.receiver_openid, m.receiver_type,
               m.map_claim_status, m.map_poi_id, m.map_claim_url, m.map_claim_time, m.map_claim_remark,
               m.wx_applyment_id, m.wx_applyment_state, m.wx_applyment_reject_reason,
               m.wx_applyment_time, m.wx_applyment_finish_time,
               m.wx_payment_access_type, m.merchant_wx_mch_id, m.merchant_wx_mch_name,
               m.wx_profit_sharing_enabled, m.platform_receiver_mch_id, m.distributor_receiver_mch_id,
               m.merchant_share_rate, m.platform_share_rate, m.distributor_share_rate, m.settlement_cycle,
               m.create_time, m.update_time, m.remark,
               d.name as distributor_name
        from merchant m
        left join distributor d on d.id = m.distributor_id and d.del_flag = '0'
    </sql>

    <select id="selectMerchantList" parameterType="com.ruoyi.mall.merchant.domain.Merchant" resultMap="MerchantResult">
        <include refid="selectMerchantVo"/>
        <where>
            and m.del_flag = '0'
            <if test="distributorId != null">and m.distributor_id = #{distributorId}</if>
            <if test="name != null and name != ''">and m.name like concat('%', #{name}, '%')</if>
            <if test="contact != null and contact != ''">and m.contact like concat('%', #{contact}, '%')</if>
            <if test="phone != null and phone != ''">and m.phone = #{phone}</if>
            <if test="status != null">and m.status = #{status}</if>
            <if test="params.dataScopeBiz != null and params.dataScopeBiz != ''">${params.dataScopeBiz}</if>
        </where>
        order by m.id desc
    </select>

    <select id="selectMerchantById" parameterType="Long" resultMap="MerchantResult">
        <include refid="selectMerchantVo"/>
        where m.id = #{id} AND m.del_flag = '0'
    </select>

    <insert id="insertMerchant" parameterType="com.ruoyi.mall.merchant.domain.Merchant" useGeneratedKeys="true" keyProperty="id">
        insert into merchant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="distributorId != null">distributor_id,</if>
            <if test="name != null">name,</if>
            <if test="logo != null">logo,</if>
            <if test="contact != null">contact,</if>
            <if test="phone != null">phone,</if>
            <if test="commissionRate != null">commission_rate,</if>
            <if test="status != null">status,</if>
            <if test="balance != null">balance,</if>
            <if test="totalIncome != null">total_income,</if>
            <if test="address != null">address,</if>
            <if test="avatar != null">avatar,</if>
            <if test="description != null">description,</if>
            <if test="businessHours != null">business_hours,</if>
            <if test="productCount != null">product_count,</if>
            <if test="storeCount != null">store_count,</if>
            <if test="remark != null">remark,</if>
            <if test="cMiniAppId != null">c_mini_app_id,</if>
            <if test="cMiniAppSecret != null">c_mini_app_secret,</if>
            <if test="mMiniAppId != null">m_mini_app_id,</if>
            <if test="mMiniAppSecret != null">m_mini_app_secret,</if>
            <if test="wxPayMchId != null">wx_pay_mch_id,</if>
            <if test="wxPayApiKey != null">wx_pay_api_key,</if>
            <if test="receiverOpenid != null">receiver_openid,</if>
            <if test="receiverType != null">receiver_type,</if>
            <if test="mapClaimStatus != null">map_claim_status,</if>
            <if test="mapPoiId != null">map_poi_id,</if>
            <if test="mapClaimUrl != null">map_claim_url,</if>
            <if test="mapClaimTime != null">map_claim_time,</if>
            <if test="mapClaimRemark != null">map_claim_remark,</if>
            <if test="wxApplymentId != null">wx_applyment_id,</if>
            <if test="wxApplymentState != null">wx_applyment_state,</if>
            <if test="wxApplymentRejectReason != null">wx_applyment_reject_reason,</if>
            <if test="wxApplymentTime != null">wx_applyment_time,</if>
            <if test="wxApplymentFinishTime != null">wx_applyment_finish_time,</if>
            <if test="wxPaymentAccessType != null">wx_payment_access_type,</if>
            <if test="merchantWxMchId != null">merchant_wx_mch_id,</if>
            <if test="merchantWxMchName != null">merchant_wx_mch_name,</if>
            <if test="wxProfitSharingEnabled != null">wx_profit_sharing_enabled,</if>
            <if test="platformReceiverMchId != null">platform_receiver_mch_id,</if>
            <if test="distributorReceiverMchId != null">distributor_receiver_mch_id,</if>
            <if test="merchantShareRate != null">merchant_share_rate,</if>
            <if test="platformShareRate != null">platform_share_rate,</if>
            <if test="distributorShareRate != null">distributor_share_rate,</if>
            <if test="settlementCycle != null">settlement_cycle,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="distributorId != null">#{distributorId},</if>
            <if test="name != null">#{name},</if>
            <if test="logo != null">#{logo},</if>
            <if test="contact != null">#{contact},</if>
            <if test="phone != null">#{phone},</if>
            <if test="commissionRate != null">#{commissionRate},</if>
            <if test="status != null">#{status},</if>
            <if test="balance != null">#{balance},</if>
            <if test="totalIncome != null">#{totalIncome},</if>
            <if test="address != null">#{address},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="description != null">#{description},</if>
            <if test="businessHours != null">#{businessHours},</if>
            <if test="productCount != null">#{productCount},</if>
            <if test="storeCount != null">#{storeCount},</if>
            <if test="remark != null">#{remark},</if>
            <if test="cMiniAppId != null">#{cMiniAppId},</if>
            <if test="cMiniAppSecret != null">#{cMiniAppSecret},</if>
            <if test="mMiniAppId != null">#{mMiniAppId},</if>
            <if test="mMiniAppSecret != null">#{mMiniAppSecret},</if>
            <if test="wxPayMchId != null">#{wxPayMchId},</if>
            <if test="wxPayApiKey != null">#{wxPayApiKey},</if>
            <if test="receiverOpenid != null">#{receiverOpenid},</if>
            <if test="receiverType != null">#{receiverType},</if>
            <if test="mapClaimStatus != null">#{mapClaimStatus},</if>
            <if test="mapPoiId != null">#{mapPoiId},</if>
            <if test="mapClaimUrl != null">#{mapClaimUrl},</if>
            <if test="mapClaimTime != null">#{mapClaimTime},</if>
            <if test="mapClaimRemark != null">#{mapClaimRemark},</if>
            <if test="wxApplymentId != null">#{wxApplymentId},</if>
            <if test="wxApplymentState != null">#{wxApplymentState},</if>
            <if test="wxApplymentRejectReason != null">#{wxApplymentRejectReason},</if>
            <if test="wxApplymentTime != null">#{wxApplymentTime},</if>
            <if test="wxApplymentFinishTime != null">#{wxApplymentFinishTime},</if>
            <if test="wxPaymentAccessType != null">#{wxPaymentAccessType},</if>
            <if test="merchantWxMchId != null">#{merchantWxMchId},</if>
            <if test="merchantWxMchName != null">#{merchantWxMchName},</if>
            <if test="wxProfitSharingEnabled != null">#{wxProfitSharingEnabled},</if>
            <if test="platformReceiverMchId != null">#{platformReceiverMchId},</if>
            <if test="distributorReceiverMchId != null">#{distributorReceiverMchId},</if>
            <if test="merchantShareRate != null">#{merchantShareRate},</if>
            <if test="platformShareRate != null">#{platformShareRate},</if>
            <if test="distributorShareRate != null">#{distributorShareRate},</if>
            <if test="settlementCycle != null">#{settlementCycle},</if>
        </trim>
    </insert>

    <update id="updateMerchant" parameterType="com.ruoyi.mall.merchant.domain.Merchant">
        update merchant
        <trim prefix="SET" suffixOverrides=",">
            <if test="distributorId != null">distributor_id = #{distributorId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="commissionRate != null">commission_rate = #{commissionRate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="totalIncome != null">total_income = #{totalIncome},</if>
            <if test="address != null">address = #{address},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="description != null">description = #{description},</if>
            <if test="businessHours != null">business_hours = #{businessHours},</if>
            <if test="productCount != null">product_count = #{productCount},</if>
            <if test="storeCount != null">store_count = #{storeCount},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="cMiniAppId != null">c_mini_app_id = #{cMiniAppId},</if>
            <if test="cMiniAppSecret != null">c_mini_app_secret = #{cMiniAppSecret},</if>
            <if test="mMiniAppId != null">m_mini_app_id = #{mMiniAppId},</if>
            <if test="mMiniAppSecret != null">m_mini_app_secret = #{mMiniAppSecret},</if>
            <if test="wxPayMchId != null">wx_pay_mch_id = #{wxPayMchId},</if>
            <if test="wxPayApiKey != null">wx_pay_api_key = #{wxPayApiKey},</if>
            <if test="receiverOpenid != null">receiver_openid = #{receiverOpenid},</if>
            <if test="receiverType != null">receiver_type = #{receiverType},</if>
            <if test="mapClaimStatus != null">map_claim_status = #{mapClaimStatus},</if>
            <if test="mapPoiId != null">map_poi_id = #{mapPoiId},</if>
            <if test="mapClaimUrl != null">map_claim_url = #{mapClaimUrl},</if>
            <if test="mapClaimTime != null">map_claim_time = #{mapClaimTime},</if>
            <if test="mapClaimRemark != null">map_claim_remark = #{mapClaimRemark},</if>
            <if test="wxApplymentId != null">wx_applyment_id = #{wxApplymentId},</if>
            <if test="wxApplymentState != null">wx_applyment_state = #{wxApplymentState},</if>
            <if test="wxApplymentRejectReason != null">wx_applyment_reject_reason = #{wxApplymentRejectReason},</if>
            <if test="wxApplymentTime != null">wx_applyment_time = #{wxApplymentTime},</if>
            <if test="wxApplymentFinishTime != null">wx_applyment_finish_time = #{wxApplymentFinishTime},</if>
            <if test="wxPaymentAccessType != null">wx_payment_access_type = #{wxPaymentAccessType},</if>
            <if test="merchantWxMchId != null">merchant_wx_mch_id = #{merchantWxMchId},</if>
            <if test="merchantWxMchName != null">merchant_wx_mch_name = #{merchantWxMchName},</if>
            <if test="wxProfitSharingEnabled != null">wx_profit_sharing_enabled = #{wxProfitSharingEnabled},</if>
            <if test="platformReceiverMchId != null">platform_receiver_mch_id = #{platformReceiverMchId},</if>
            <if test="distributorReceiverMchId != null">distributor_receiver_mch_id = #{distributorReceiverMchId},</if>
            <if test="merchantShareRate != null">merchant_share_rate = #{merchantShareRate},</if>
            <if test="platformShareRate != null">platform_share_rate = #{platformShareRate},</if>
            <if test="distributorShareRate != null">distributor_share_rate = #{distributorShareRate},</if>
            <if test="settlementCycle != null">settlement_cycle = #{settlementCycle},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectMerchantByCAppId" parameterType="String" resultMap="MerchantResult">
        <include refid="selectMerchantVo"/>
        where m.c_mini_app_id = #{cMiniAppId} AND m.del_flag = '0'
    </select>

    <select id="selectMerchantByMAppId" parameterType="String" resultMap="MerchantResult">
        <include refid="selectMerchantVo"/>
        where m.m_mini_app_id = #{mMiniAppId} AND m.del_flag = '0'
    </select>

    <update id="deleteMerchantById" parameterType="Long">
        update merchant set del_flag = '2' where id = #{id}
    </update>

    <update id="deleteMerchantByIds" parameterType="String">
        update merchant set del_flag = '2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
